book
node_modules

# Added by cargo
target/

# Typescript
dist/
build/
output/

# zed
editors/zed/extension.wasm

# Added by typedown
.typedown
editors/vscode/bin/
editors/vscode/*.vsix
editors/vscode/syntaxes/tdr.tmLanguage.json
